<h2>Keyframe</h2>

<p>The Keyframe Ember.JS application that you are using is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.txt">GPL version 3</a> or later.
It is copyright of Shell Turner, who can be reached at <a href="mailto:shell@alterednarrative.net">shell@alterednarrative.net</a>.</p>

<h2>Dependencies</h2>

<p>The Keyframe Ember.JS application depends on a number of other projects with other licenses and copyright owners.
Here is an exhaustive list of dependencies, not all of which are included in the final build as distributed to you, the end user:</p>

<table>
  <thead>
    <th>Package</th>
    <th>URL</th>
    <th>License</th>
    <th>Copyright notice</th>
  </thead>
  <tbody>
{{#each-in @model.dependencies as |package dependency|}}
    <tr>
      <td>{{package}}</td>
      <td>{{#if dependency.url}}{{dependency.url}}{{else if dependency.repository}}{{dependency.repository}}{{/if}}</td>
      <td>{{dependency.licenses}}</td>
      <td>{{dependency.copyright}}</td>
    </tr>
{{/each-in}}
  </tbody>
</table>
